@model FRWP.Models.Goal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Goal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GamePlayer.GamePlayerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamePlayer.GamePlayerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOwnGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOwnGoal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeScored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeScored)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
