@model IEnumerable<FRWP.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameID })
        </td>
    </tr>
}

</table>
